body{
	background-image: url("images/tracks.jpg");
	background-color:grey;
}

.jumbotron{
	background-color: black;
	color: white;
	opacity: 0.9;
}
.panel{
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	opacity: 0.9;
}

.panelBody{
	margin-bottom: 20px;
}

.form-control{
	width: 95%;
}